table {
    border: 2px solid red;
}

tr th {
    background-color: brown;
    color:aqua;
    padding: 5px;
}

tr td {
    background-color: aqua;
    color:brown;
    text-align: center;
}

td:hover {
    background-color: black;
    color: white;
}